{% extends 'JobeetFrontendBundle::layout.html.twig' %}
{% block stylesheets %}
  {{ parent() }}
  {% stylesheets
                  '@JobeetFrontendBundle/Resources/public/css/job.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
            {% endstylesheets %}
{% endblock %}
 
{% block content %}
    <h1>Job creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('job') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
